/**
  * Font
  */
  @font-face {
    font-family: "nsicons";
    src: url(/fonts/nsicons.eot), url(/fonts/nsicons.woff), url(/fonts/nsicons.woff2);
  }


/**
  * Global
  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  width: 100%;
  height: 100%;
  background: #f7f7f7;

  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #272343;
}
p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #272343;
}
small {
  opacity: 0.5;
  font-size: 14px;
  line-height: 20px;
  color: #272343;
}
strong {
  font-weight: 600;
}
a, a:visited {
  text-decoration: none;
  color: #3f3f44;
  border-bottom: 1px solid rgba(39, 35, 67, 0.5);
  cursor: pointer;
}
a:hover {
  border-bottom: 1px solid #000;
}
a:focus {
  outline-width: 0;
  box-shadow: 0 0 0px 4px #BAE8E9;
}



/**
  * Cover
  */
.cover {
  background: url("/arispace/images/coverpng2.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size:contain;
}
.cover__logo {
  width: 120px;
  /* margin-bottom: 200px; */
}
.cover__name {
  font-weight: 800;
  font-size: 80px;
  line-height: 80px;
  /* color: #3f3f44; */
  color: #FE642E;
  margin-bottom: 20px;
}
.cover__desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3f3f44;
  margin-bottom: 20px;
}


/**
  * Pills
  */
.pills {
  margin: 40px 0 0;
  font-size: 0;
  user-select: none;
}




/**
  * Layout
  */
.page {
  max-width: 1240px;
  padding: 128px 64px;
  margin: 0 auto;
}
.row {
  overflow: hidden;
}
.column {
  width: 100%;
  padding: 0 16px;
  float: left;
}
.column:last-child {
  float: right;
}





/**
  * Line
  */
.line, .line--light {
  width: 100%;
  height: 4px;
  background: #222831;
  margin: 80px 0;
}





#preview {
  display: block;
  position: fixed;
  z-index: 999999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  padding: 80px 0 0;
}


.article {
  margin-top: 40px;
  background: #ffe8df;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}
.article__name {
  display: inline-block;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #3f3f44;
  margin-bottom: 20px;
}
.article__desc {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3f3f44;
  margin-bottom: 20px;
}
